body {
    font-family: sans-serif;
    background-color: white;
}

#deck {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 500px;

}

.carte {
    min-width: 90px;
    min-height: 130px;
    margin: 5px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 0;

    background: lightslategray;
}

.carte.visible {
    background: cornflowerblue;
    font-size: 50px;
}